
// MullerMedium

@font-face {
    font-family: MullerMedium;
    src: url(../../fonts/MullerMedium.woff);
}

// MullerRegular

@font-face {
    font-family: MullerRegular;
    src: url(../../fonts/MullerRegular.woff2);
}

// MullerBold

@font-face {
    font-family: MullerBold;
    src: url(../../fonts/MullerBold.woff2);
}